In [ ]:
X="ALL IS WELL"
print(X.isalpha())
print(X.islower())
print(X.isalnum())
print(X.isdigit())
print(X.isdigit())
print(X.isupper())

False
False
False
False
False
True

In [ ]:
X="WE ARE DATA SCIENTIST"
print(X[0])

X = "Peter picked a peck OF pickled peppers"
total_e = X.count('e')
print(total_e)

W
7

Count of e

In [ ]:
X = "Peter picked a peck OF pickled peppers"

# Check if 'e' is in the string
if 'e' in X:
    total_e = X.count('e')
    print(f"The letter 'e' appears {total_e} times.")
else:
    print("The letter 'e' is not in the string.")

The letter 'e' appears 7 times.

In [ ]:
n=5
print(n*n)
print(n*n*n)

25
125

In [ ]:
i=16
if i <15:
  print(" i is smaller than 15")
else:
  if i >20:
    print("i is between 15 and 20")
  else:
    print("i is between 15 and 20")

i is between 15 and 20

In [ ]:
a=int(input("enter the mark "))
if a >= 60 :
  print("First dievison")
elif a >= 50 and  a <= 59:
  print("Second dievison")
elif a <= 60:
  print("Third dievison")
else :
  print("fail")

Second dievison

In [ ]:
def print_digits(n):
    if n == 0:
        print(0)
        return

    while n > 0:
        digit = n % 10  # Extract the last digit
        print(digit, end=' ')  # Print the digit with a space
        n = n // 10  # Remove the last digit

# Example usage
n = int(input())  # Read an integer from STDIN
print_digits(n)

6
6

In [ ]:
n_items=int(input("enter the number:"))
single_item=float(input())

if n_items==1:
    r_times=single_item
elif n_items==2:
    r_times=single_item *1.5
elif n_items==3:
    r_times=single_item*2
else:
    print("number of item is more")
print(r_times)
                                        #FOR LOOP

for a in range(1,5):
    print("a",a)
for i in 1,2,3,4,5:
    print("i",i)
for b in range(1,5,2):
    print("b",b)
for t in range(0,26):
    if t%2!=0:
        print("t",t)

enter the number:8
9.0
number of item is more

NameError: name 'r_times' is not defined

In [ ]:
X="Peter Piper picked a peck of pickled peppers. A peck of pickled peppers Peter Piper picked. If Peter Piper picked a peck of pickled peppers, Where's the peck of pickled peppers Peter Piper picked?"
print(X.count('e'))

35

In [ ]:
age = int(input("Enter the age  "))
show_time = float(input("Enter the show time: "))
if 10.00 <= show_time <= 17.00:
    is_matinee = True
else:
    is_matinee = False
if age > 13:
    if is_matinee:
        ticket_price = 5.00
    else:
        ticket_price = 8.00
else:
    if is_matinee:
        ticket_price = 2.00
    else:
        ticket_price = 4.00
print(f"The price of the movie ticket is: ${ticket_price:.2f}")

Enter the age  9
Enter the show time: 9.0
The price of the movie ticket is: $4.00

In [ ]:
age = int(input("Enter the age  "))
show_time = float(input("Enter the show time: "))
if age<=13:
  if 10.15 <= show_time <= 13.30:
      ticket_price=8.00
  elif 18.00<=show_time<=22.00:
        ticket_price=5.00
elif age<13:
  if 10.15<=show_time<=3.30:
    ticket_price=4.00
  elif 18.00<=show_time<=22.00:
    ticket_price=2.00


print(f"The price of the movie ticket is: ${ticket_price:.2f}")

In [ ]:
for i in range(5,):
  print("i",i)

In [ ]:
n = 5

for i in range(5,-1): #1,5
    print('*' * i)

In [ ]:
n = 5

for i in range(1, n+1):
    print('*' * i)

*
**
***
****
*****

In [ ]:
n = 5

for i in range(1, n+1):
    print('*' * i)

In [ ]:
for i in range(0,5):
  for j  in range(0,1,1+1):
    print(i,end=" ")

0 1 2 3 4

In [ ]:

for i in range(1,6):
  if(i==4):
    print("loops break")
    break
    print(i,end="")
print()

In [ ]:
for i in range(1,6):
  for j in range(1,4):
    if(j==3):
      print("loops break")
      break
    print(i,end="")
print()

In [ ]:

for i in range(1,6):
  if(i==3):
    print("loops break")
    break
  for j in range(1,4):
    print(i,end="")
  print()

111
222
loops break

In [ ]:
student_type = input("Enter student type : ")
tuition_fee = float(input("Enter tuition fee: "))
bus_fee = float(input("Enter bus fee: "))
hostel_fee = float(input("Enter hostel fee: "))

if student_type == "MSDS":
    total_fee = tuition_fee + bus_fee
elif student_type == "MSH":
    total_fee = tuition_fee + hostel_fee
elif student_type == "MGSDS":
    total_fee = 1.5 * tuition_fee + bus_fee
elif student_type == "MGSH":
    total_fee = 1.5 * tuition_fee + hostel_fee
else:
    total_fee = 0
    print("Invalid student type")
print(total_fee)

In [ ]:
# Taking inputs
door = input("Enter door").lower()  # Convert to lowercase to handle all cases
rail = int(input("Enter rail"))

# Logic to determine handedness
if (door == "front" and rail == 1) or (door == "rear" and rail == 2):
    print("Left Handed")
else:
    print("RightÂ Handed")

In [ ]:
n=int(input("enter the number:"))
sum=0
for i  in range(1,n+1):
  sum+=i;
  print("sum",sum)

enter the number:5
sum 1
sum 3
sum 6
sum 10
sum 15

In [ ]:
def fun():
  x=float(input("enter the number:"))
  y=float(input("enter the number:"))
  z=float(input("enter the number:"))
  c=x+y+z
  d=(x*y)
  return c ,d
kl=fun()
print(kl)

enter the number:9
enter the number:7
enter the number:6
(22.0, 378.0)

Write a python program to find the maximum of three numbers
Hint :Do not built in function max()

In [ ]:
x=int(input("enter the number:"))
y=int(input("enter the number:"))
z=int(input("enter the number:"))
if  x>y and x>z:
    print(x)
elif y>x and y>z:
  print(y)
elif z>x and z>y:
  print(z)

enter the number:8
enter the number:9
enter the number:10
10

In [ ]:
a=int(input("enter the number:"))
b=int(int(input("enter the number:")))
d=a+b;
e=a*b
if d==19:
  print("a+b is a special number")
elif e==19:
  print("a*b  is a special number")
else:
  print("not a special number")

KeyboardInterrupt: Interrupted by user

In [ ]:
x=int(input())
first=x//10
second=x*10
print("first digit:",first)
print("second  digit:",second)
result=(first+second)+(first*second)
print("output",result)
if x==result:
  print("special number")
else:
  print("not a special number")

12
first digit: 1
second  digit: 120
output 241
not a special number

In [ ]:
def is_happy_number(num):
    def sum_of_squares(n):
        return sum(int(digit) ** 2 for digit in str(n))

    visited_numbers = set()

    while num != 1 and num not in visited_numbers:
        visited_numbers.add(num)
        num = sum_of_squares(num)

    if num == 1:
        return "Happy Number"
    else:
        return "Not a Happy Number"

number = int(input())
print(is_happy_number(number))

8
Not a Happy Number

In [ ]:
x=str(input())
y=str(input())
if x==y:
  print("x are same")
else:
  print("x are not same")

akash
brahmos
x are not same

In [ ]:
n

In [ ]:
n=int(input())
if n%7==0:
  print("yes")
else :
  print("no")

7
yes

In [ ]:
n=int(input())
l=int(input())
r=int(input())
if l<=r>=n: #7 10 5
  print("between l and r")
else:
  print("not between")

5
10
6
not between

In [ ]:
n = int(input())
l = int(input())
r = int(input())

if l > r:
    l, r = r, l

if l <= n <= r:
    print("yes")
else:
    print("no")

9
10
1
yes

In [ ]:
a=int(input("enter the num:"))
b=int(input("enter the num:"))
c=int(input("enter the num:"))
if a>b:
  if a>c:
    print(a)
if b>a:
  if b>c:
    print(b)
if c>a:
  if c>b:
    print(c)

KeyboardInterrupt: Interrupted by user

In [ ]:
a=[1,2,3]
print(a)

[1, 2, 3]

In [ ]:
b=[1.5,1.2,3.4]
print(b)

[1.5, 1.2, 3.4]

In [ ]:
c=[" akash","rahul bot","bhupathy_bot"]
c

In [ ]:
a=["akash",1,2.3,6,7]
print(a[-4:])

[1, 2.3, 6, 7]

In [ ]:
d=[2,3,["naruto",1.2]]
d

[2, 3, ['naruto', 1.2]]

In [ ]:
a=[[1,2],["a","b"]]
a

[[1, 2], ['a', 'b']]

In [ ]:
letter=["a","b","c","d"]
stg=["python","list"]
conc=letter+stg
print (conc)

['a', 'b', 'c', 'd', 'python', 'list']

In [ ]:
a=list["python"]
a

list['python']

In [ ]:
num=[9,2,3,4,5]

print(num)
a,b,*others=num
print(others)

[9, 2, 3, 4, 5]
[3, 4, 5]

In [ ]:
a=["apple","bannana","grapes"]
for i in a:
  if i=="grapes":
    continue

  print(i)

In [ ]:
x=[2,4,6,8,10]
for i in x:
  a= i*5
  print(a)

10
20
30
40
50

In [ ]:
num=[1,2,3,4]
print(num)
num.append(6) #only one argument will give
print(num)

[1, 2, 3, 4]
[1, 2, 3, 4, [9, 10, 100]]

In [ ]:
num=[1,2,3,4]
stg=["puthon","anaconda"]
print(stg)
num.extend(stg)
print(num) #will give more elements to extend append apdi kadaiyathu
num.insert(4,"list") # 4-index positionla list add pananum
num.insert(0,"akash")
num.remove(4)
print(num)

['puthon', 'anaconda']
[1, 2, 3, 4, 'puthon', 'anaconda']
['akash', 1, 2, 3, 'list', 'puthon', 'anaconda']

In [ ]:
a=["x","y","f","a","b"]
a.sort() #ascending order
print(a)
a.sort(reverse=True)
print(a)
a.sort(reverse=False)
print(a)

['a', 'b', 'f', 'x', 'y']
['y', 'x', 'f', 'b', 'a']
['a', 'b', 'f', 'x', 'y']

In [ ]:
a=[9,17,14,4,80,55]
print(len(a))
print(min(a))
print(max(a))
print(sum(a)/len(a))

6
4
80
29.833333333333332

In [ ]:
list1=list(range(1,11))
print(list1)
odd=list1[::2]#odd
even=list1[1::2]#even
print(odd)
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
a=10.67
print(a,type)
b=int(a)
print(b,(type(b)))

In [ ]:

x=17.56+20j
y=x.real
print(y)
z=int(x.real)
print("z",z)
print(x.imag)

17.56
z 17
20.0

In [ ]:
a=
print()

In [ ]:
Tuple=("hello ,i")
n=3
for i in range(int(n)):
  Tuple=(Tuple,) #1 loop one tuple 2 loop-2 tuple 3 loop -3 tuple
  print(Tuple)

('hello ,i',)
(('hello ,i',),)
((('hello ,i',),),)

In [ ]:
tuple=('developer',5,8,9,'r',8)
print(len(tuple))
print(tuple)

6
('developer', 5, 8, 9, 'r', 8)

In [ ]:
tuple=(9,5,89,4,8)
tuple1=(0,1) #
tuple2=()#
tuple3=(0,1)
print(max(tuple))
print(min(tuple))
print(sorted(tuple))


print(any(tuple1)) #any-or operator so1 irruku true
print(any(tuple2)) #empty-false any-or operator
print(all(tuple3)) #all-and operator  rendume  1 irruntha pothumm

89
4
[4, 5, 8, 9, 89]
True
False
False

In [ ]:
tuple=(3,7,'s','h',9.5,'s')
print(tuple.count(7))
print(tuple.count('s'))
print(tuple.count(5))
print(tuple.index(9.5))
print(tuple.index('h'))

1
2
0
4
3

In [ ]:
n = 4*4
for i in range(1, rows+1):
  print("*")

NameError: name 'rows' is not defined

In [ ]:
n = 6
for i in range(n):
    for j in range(n):
        print("*", end="")
    print()

******
******
******
******
******
******

In [ ]:
for i in range(4):
  for j in range(4):
       print("*",end="")
  print()

****
****
****
****

In [ ]:
for i in range(4):
  for j in range(1,i+2):#1,2
       print("*",end="")
  print()

*
**
***
****

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****

In [ ]:
n=4
for i in range(5):
  for j in range(6):

      print("*",end="")
  print()

******
******
******
******
******

In [ ]:
for i in range(4):
  for j in range(5):
    if i==0 or  j==4:
      print("*",end="")
    if i==3 or j==3:
      print("*",end="")
  print()

******
**
**
******

In [ ]:
n = 4
for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or j == 0  or j==3:
            print("*", end="")
        else:
            print(" ", end="")
    print()

****
*  *
*  *
****

In [ ]:
a=[10,20,30,40,50]
for i in a:
  print(i,end=" ")

10 20 30 40 50

In [ ]:
for i in a:
  print("i",i)
  if i==30:
    print("hello world")
    break
  else:
    print("stop")

i a
stop
i b
stop
i f
stop
i x
stop
i y
stop

In [ ]:
for i in range(len(a)):
  if a[i]==30:
    print(i)
    break

In [ ]:
Tuple=('hello')
print(Tuple)
print(type(Tuple))

hello
<class 'str'>

Concatrnation Tuple

In [ ]:
#concatenation
value1=(26,45,"hai")
value2=7,5.6,"python"
print(value1+value2)

(26, 45, 'hai', 7, 5.6, 'python')

In [ ]:
value_tuple=(26,79,80,"parveen wife","praveen punda")
val_list=list(value_tuple)
print(val_list)
print(val_list.remove(26))

[26, 79, 80, 'parveen wife', 'praveen punda']
None

In [ ]:
num=[3,10,20,30]
print(sum(num))

63

In [ ]:
numbers = [1, 7, 2, 5, -1]

stringified = (map(str, numbers))

print(max(stringified))

7

In [ ]:
number=3,10,20,30
mp=list(map(int,number))
print(sum(mp))

63

In [ ]:
size_of_list = int(input())  # Input the size of the list
list_1 = list(map(int, input().split()))  # Input the list of integers

# To print the original list
print(list_1)

# To find unique elements
unique = []
for item in list_1:
    if item not in unique:
        unique.append(item)

# To print the unique elements
print(unique)

6
78
[78]
[78]

In [ ]:
tuple=(9,5,89,8)
print(max(tuple))

89

In [ ]:
a=(1,23,4)
print(a)

(1, 23, 4)

In [ ]:
value=()
n=int(input())
list_1=[]
for i in range(n):
    a=int(input())
    list_1.append(int(input()))
value=print(list_1)

1
2
4
[4]

In [ ]:
value_set=set()
n=int(input())
for i in range(n):
  value_set.add(int(input()))
print(value_set)

4
5
6
7
8
{8, 5, 6, 7}

write a program to check whether the element got from the user is present in the value_set

In [ ]:
x=int(input())
value_set={6,12,26,10}
print(x in value_set)

3
False

In [ ]:
x=int(input())

value_set={6,12,26,10}
val_set=list(value_set)
print(val_set)
print(x in value_set)

3
[26, 10, 12, 6]
False

Union of two set

In [ ]:
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month_common=month1_set.union(month2_set)
print(month_common)

{'dec', 'feb', 'oct', 'mar', 'jan', 'may'}

Intersection of two set

In [ ]:
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month_common=month1_set.intersection(month2_set)
print(month_common)

{'jan', 'mar'}

biwise or

Union sign |

In [ ]:
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month_common=month1_set | month2_set
print(month_common)

{'dec', 'feb', 'oct', 'mar', 'jan', 'may'}

  And intersection symbol &

In [ ]:
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month_common=month1_set & month2_set
print(month_common)

{'jan', 'mar'}

Set Difference

In [ ]:
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month_common=month1_set - month2_set
print(month_common)

{'dec', 'feb'}

Set comaprison

In [ ]:
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month_common=month1_set > month2_set
print(month_common)

False

In [ ]:
month1_set={"jan","feb","dec","mar"}
month2_set={"may","jan","oct","mar"}
month_common=month1_set < month2_set
print(month_common)

False

In [ ]:
# List of names
names = ["Sophia", "Ethan", "Olivia", "Liam", "Ava", "Mason", "Isabella", "Lucas"]

# Sort names in alphabetical order
sorted_names = sorted(names)
print("sort",sorted_names)
# Print the sorted names
print("Names in alphabetical order:")
for name in sorted_names:
    print(name)

sort ['Ava', 'Ethan', 'Isabella', 'Liam', 'Lucas', 'Mason', 'Olivia', 'Sophia']
Names in alphabetical order:
Ava
Ethan
Isabella
Liam
Lucas
Mason
Olivia
Sophia

In [ ]:
dic={1:(2,4,5),"Name":"Face",4:[5,7]}
print(dic)

{1: (2, 4, 5), 'Name': 'Face', 4: [5, 7]}

In [ ]:
dic=dict([(1,2),("Name","Face"),(4,5)])
print("dic",dic)

dic {1: 2, 'Name': 'Face', 4: 5}

In [ ]:
dict1={0:"Apple",1:"Hard",3:"Work"}
print(dict1)

{0: 'Apple', 1: 'Hard', 3: 'Work'}

In [ ]:
dict={}
dict[0]="Applke"
dict[1]="Hard"
dict[2]="work"
print(dic)
dic['new_set']=1,5,8

{1: 2, 'Name': 'Face', 4: 5}

In [ ]:
text="hello world"
uppercase_letters={char.upper() for char in text if char.isalpha}
print(uppercase_letters)
print("text",text.isalpha)

{'O', ' ', 'L', 'E', 'H', 'D', 'R', 'W'}
text <built-in method isalpha of str object at 0x7aa72e9005f0>

In [ ]:
dic={}
for char in text:
  if char.isalpha:
    print(char.upper())

H
E
L
L
O

W
O
R
L
D

In [ ]:
x=input()
square={x:x**2 for x in range(5)}
print(square)

2
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
x=input()
square={x:x**3 for x in range(9) if x%2==0}
print(square)

5
{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

In [ ]:
keys=["a","b","c"]
values=[1,2,3]
my_dict={keys[i]:values[i] for i in range(len(keys))}
range(len(keys))
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

Swapping keys and values

In [ ]:


original={'a':1,'b':2,'c':3}
print("org_items",original.items())
swapped={v:k for k,v in original.items()}
print(swapped)

org_items dict_items([('a', 1), ('b', 2), ('c', 3)])
{1: 'a', 2: 'b', 3: 'c'}

Filtering items based on value  value greater than 5 print

In [ ]:
original = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
filtered = {k:v for k,v in original.items() if v>=5}
filtered

{'e': 5}

In [ ]:
k={}
original = {'a': 1, 'b': 6, 'c': 3, 'd':10}
filtered = {k:v for k,v in original.items() if v>=5}
filtered

appenddict akash
k {'akash': 'akash'}

Multiply Each value 10

In [ ]:
original={'a':1,'b':2,'c':3}
transformed={k:v}

Nested Dictionary Comprehension

In [ ]:
numbers={1,2,3,4}
nested_dict={x:{'square':x**2,'cube':x**3} for x in numbers}
print(nested_dict)

{1: {'square': 1, 'cube': 1}, 2: {'square': 4, 'cube': 8}, 3: {'square': 9, 'cube': 27}, 4: {'square': 16, 'cube': 64}}

creating dictionary from two lists with a condition

In [ ]:
keys=['a','b','c','d']
values=[1,2,3,4]
filtered_dict={keys[i]:values[i] for i in range(len(keys)) if i%2==0}
print("filter",filtered_dict)

filter {'a': 1, 'c': 3}

Creating a dictionary from tuple

In [ ]:
tuples=[('a',1),('b',2),('c',3)]
my_dict={key:value for key,value in tuples}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

Handling missing keys

In [ ]:
# Handling missing keys(defalult value)
keys=['a','b','c','d']
values=[1,2,3]
my_dict={k:values[i] if i<len(values) else 0 for i,k in  enumerate(keys)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 0}

In [ ]:
# Handling missing keys(defalult value)
keys=['a','b','c','d']
values=[1,2,3]
my_dict={k:values[i] for i,k in  enumerate(keys) if i<len(values) }
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
class car:
  'common_car'
  car=0
  def __init__(self,name,id):
    self.name=name
    self.id=id
    car.car+=1
  def printcar(self):
    print('name:',self.name,"id:",self.id)
c=car("Audi",200000)
c.printcar()

name: Audi id: 200000

In [ ]:
class Bird:
  def __init__(self,birddt,colorsdt):
    self.bird=birddt
    self.color=colorsdt
  def birddata(self):
    print(self.bird,self.color)
bd=Bird("crow","black")
bd.birddata()

crow black

Checking poistive or negative number

In [ ]:
class Employee:
  def __init__(self,n):
    self.numbers=n
  def numberdata(self):
    if self.numbers>0:
      print("positive number")
    else :
      print("negative number low")
c=Employee(1)
c.numberdata()

positive number

class card details

In [ ]:
class car
  'common_car'
  def __init__(self,name,id):
    self.name=name
    self.id=id
    self.car+=1
  def printcardata(self):
    print("name:",self.name,"id",self.id)
c=Car("Audi",20000)
c1=car("Benz",30000)

In [ ]:
class test:
  def __init__(self):
    self.variable='car'
    self.change(self.variable)
  def change(self,var):
    var="Bike"
obj=test()
print(obj.variable)

car

In [ ]:
class Animal:
    def sound(self):
        print("Some generic sound")
class Dog(Animal):
    def sound(self):
        print("bark")
class Cat(Animal):
    def sound(self):
        print("meow")
dog = Dog()
cat = Cat()
# overriding
dog.sound()
cat.sound()

bark
meow

In [ ]:
x=int(input())
y=int(input())

class Calculator:
  def add(self,a,b):
    print(a+b)

  def sub(self,a,b):
      print(a-b)

  def divide(self,a,b):
      print(a/b)
  def mul(self,a,b):
      print(a*b)
c=Calculator()
c.add(x,y)
c.sub(x,y)
c.divide(x,y)
c.mul(x,y)

2
3
-1
-1
0.6666666666666666
6

In [ ]:
class Calculator:
    def add(self,num1,num2):
        self.num1=num1;
        self.num2=num2;
        return self.num1+self.num2
    def sub(self,num1,num2):
        return num1-num2;
class AdvancedCalculator (Calculator):
    def mul(self,num1,num2):
        print("Multiplication: ", num1*num2)
    def div(self,num1,num2):
        return num1//num2;
x=AdvancedCalculator()
num1=int(input())
num2=int(input())
print("Addition: %d" %(x.add(num1,num2)))
print("Subtraction:", x.sub(num1,num2))
x.mul(num1,num2)
print("Floor Division: %d" %(x.div(num1,num2)))

6
8
Addition: 14
Subtraction: -2
Multiplication:  48
Floor Division: 0

In [ ]:
def is_prime(n):
    if n < 2:
        return "Not a prime number"
    for i in range(2, n):
        if n % i == 0:
            return "Not a prime number"
    return "Prime number"

# Test the function
number = int(input("Enter a number: "))
print(is_prime(number))

Enter a number: 2
Prime number

In [ ]:
a=int(input())
b=int(input())
def add(a,b):
  c=a+b
  return c
d=add(a,b)
print("d",d)

6
7
d 13

In [ ]:
a=int(input())
if a %3==0:
  print("divisible b y 3")
elif a%5==0:
  print("divisible by 5")
else:
  print("not divisible3")

5
divisible by 5

In [ ]:
a = int(input())
b = int(input())
set1 = list(str(a))
print(set1)
set2 = list(str(b))
print(set2)
for set1 in set2:
  print(set1)

2
3
['2']
['3']
3

In [ ]:
list1 = [int(x) for x in input("Enter list 1: ")]
list2 = [int(x) for x in input("Enter list 2: ")]
common_elements = {x for x in list1 if x in list2}
print(common_elements)

Enter list 1: 2122
Enter list 2: 33332
{2}

In [ ]:
class Shape:
  def circle(self):
      return "cicle not defined"
class circle(Shape):
  def __init__(self,radius):
    self.radius=radius
  def area(self):
    print( 3.14*self.radius**2)
class  rectangle(circle):
    def __init__(self,l,b):
      self.l=l
      self.b=b
    def area(self):
      self.ci=self.l*self.b
      print(self.ci)
c=circle(4)
r=rectangle(3,4)
c.area()
r.area()

50.24
12