In [ ]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    def printdata(self):
        print(self.name, self.age, self.salary)
e1 = Employee("Sakshi", 21, 200000)
e1.printdata()

Sakshi 21 200000

In [ ]:
class Birds:
    def set_data(self,name):
        self.name=name
    def display_data(self):
        print(self.name)
b1=Birds()
b1.set_data("Parrot")
b1.display_data()

Parrot

In [ ]:
class Numbers:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2

    def subtract(self):
        return self.num1 - self.num2

    def multiply(self):
        return self.num1 * self.num2

    def divide(self):
        if self.num2 != 0:
            return self.num1 / self.num2
        else:
            return "Division by zero is not allowed"

    def display_numbers(self):
        print(f"Number 1: {self.num1}, Number 2: {self.num2}")

numbers = Numbers(10, 5)
numbers.display_numbers()
print("Addition:", numbers.add())
print("Subtraction:", numbers.subtract())
print("Multiplication:", numbers.multiply())
print("Division:", numbers.divide())

Number 1: 10, Number 2: 5
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [ ]:
class Car:
    # Class attribute
    total_cars = 0

    def __init__(self, name, model):
        self.name = name
        self.model = model
        Car.total_cars += 1
    def print_cardata(self):
        print(f"Name: {self.name}, Model: {self.model}")
c1 = Car("Audi", 200000)
c2 = Car("BMW", 30000000)
c3 = Car("BENZ", 400000)
print("Total Cars:", Car.total_cars)
c1.print_cardata()
c2.print_cardata()
c3.print_cardata()

Total Cars: 3
Name: Audi, Model: 200000
Name: BMW, Model: 30000000
Name: BENZ, Model: 400000

In [ ]:
class test:
  def __init__(self):
    self.variable = 'car'
    self.Change(self.variable)
  def Change(self, var):
    var = 'bike'
obj = test()
print(obj.variable)

car

In [ ]:
class Car:
    def speed(self):
        print("100km")
class Audi(Car):
    def engine(self):
        print("Engine is powerful")
c=Audi()
c.engine()
c.speed()

Engine is powerful
100km

In [ ]:
class Animal:
    def sound(self):
        print("Some generic sound")
class Dog(Animal):
    def sound(self):
        print("bark")
class Cat(Animal):
    def sound(self):
        print("meow")

dog = Dog()
cat = Cat()

#overriding
dog.sound()
cat.sound()

bark
meow

In [ ]:
class Calculator:
  def add(self,num1,num2):
    self.num1=num1
    self.num2=num2
    return self.num1+self.num2
  def sub(self,num1,num2):
    return num1-num2;
class AdvancedCalculator(Calculator):
  def mul(self,num1,num2):
    print("Multiplication :",num1*num2)
  def div(self,num1,num2):
    return num1//num2;
x=AdvancedCalculator()
num1=int(input())
num2=int(input())
print("Addition : %d"%x.add(num1,num2))
print("Subtraction : %d" %x.sub(num1,num2))
x.mul(num1,num2)
print("Floor Division : %d"%(x.div(num1,num2)))

10
2
Addition : 12
Subtraction : 8
Multiplication : 20
Floor Division : 5

Enter two numbers separated by spaces: 2

ValueError: not enough values to unpack (expected 2, got 1)