In [ ]:
value = {6,'python',5.6}
print(value)

{'python', 5.6, 6}

In [ ]:
type(value)

Set

Why the element are not printed in the order as we have given
set is unordered

value={}

type(value)   #<------represent is the similar to dict

dict

values=set()

type(values)
set

In [ ]:
value={12,1,2,3,2,45,4,5,3}
value

{1, 2, 3, 4, 5, 12, 45}

In [ ]:
//Creating a set//

In [ ]:
set1 = set()
print (set1)

set()

In [ ]:
value_set = {2,'python','a',5,9.4}
value_set

{2, 5, 9.4, 'a', 'python'}

write a python code to access an element in the set

In [ ]:
value_set[0]

TypeError: 'set' object is not subscriptable

what are the ways to add an element

In [ ]:
value_set.append("Hello")
value_set

AttributeError: 'set' object has no attribute 'append'

In [ ]:
value_set=set()
n=int(input())
for i in range(n):
  value_set.add(int(input()))

4
12
36
10
6

In [ ]:
value_set

{6, 10, 12, 36}

In [ ]:
for i in value_set:
  print(i)

10
12
36
6

In [ ]:
value_set = {6,12,26,10}
x=int(input("enter the number"))
print(x in value_set)

enter the number3
False

In [ ]:
month1_set = {"jan", "feb", "mar", "apr", "may"}
month2_set = {"jun", "jan", "aug", "sep", "oct"}

month1_set

{'apr', 'feb', 'jan', 'mar', 'may'}

In [ ]:
month2_set

{'aug', 'jan', 'jun', 'oct', 'sep'}

In [ ]:


month=month1_set | month2_set

In [ ]:
month

{'apr', 'aug', 'feb', 'jan', 'jun', 'mar', 'may', 'oct', 'sep'}

In [ ]:
month_common=month1_set & month2_set

In [ ]:
month_common

{'jan'}

In [ ]:
common=month1_set & month2_set

month_common

{'jan'}

In [ ]:
diff=(month1_set - month2_set)
diff

{'apr', 'feb', 'mar', 'may'}

In [ ]:
month1_set = {"jan", "feb", "dec", "mar"}
month2_ser = {"jan", "feb"}
month1_set > month2_set

False

In [ ]:
square = {x**2 for x in range(5)}
square

{0, 1, 4, 9, 16}

In [ ]:
number = [1,2,3,4,5]
squared_number = {x**2 for x in number}
squared_number

{1, 4, 9, 16, 25}

In [ ]:
number = [1,2,3,4,5]
even_number = {x for x in number if x%2==0}
even_number

{2, 4}

In [ ]:
words = ['apple','banana','cherry','lyn']
vowels = {'a','e','i','o','u'}
vowel_words = {word for words in words if any(letter in vowels for letter in word)}
vowel_words

set()

In [ ]:
duplicates = [1,2,3,4,5,1,6]
unique_squares = {x**2 for x in duplicates}
unique_squares

{1, 4, 9, 16, 25, 36}

In [ ]:
text = "Narendra"
uppercase_letters={char.upper() for char in text if char.isalpha()}
uppercase_letters

{'A', 'D', 'E', 'N', 'R'}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}