In [ ]:
value_tuple = 26,45,32
print(value_tuple)

(26, 45, 32)

In [ ]:
tuple = ('hello',)
print(tuple)

('hello',)

In [ ]:
value1_tuple=(26,45,'hello')
value2_tuple=7,5.6,"pthon"
value3_tuple=value1_tuple+value2_tuple
print(value3_tuple)

(26, 45, 'hello', 7, 5.6, 'pthon')

In [ ]:
value_tuple = (26,45,'hello',7.5)
print(value_tuple[:6])

(26, 45, 'hello', 7.5)

In [ ]:
a=int(input())
b=list(map(int,input().split()))
print(max(b))

In [ ]:
Tuple = ('hello')
n = 3
for i in range(int(n)):
    Tuple = (Tuple,)
    print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

In [ ]:
tuple = ('develope',5,8.9,'r',8)
print(len(tuple))

5

In [ ]:
tuple = (9,5,89,4,8)
print(max(tuple))

89

In [ ]:
tuple = (9,5,89,4,8)
print(min(tuple))

4

In [ ]:
tuple = (9,5,89,4,8)
print(sum(tuple))

115

In [ ]:
tuple = (0,1)
print(any(tuple))

True

In [ ]:
tuple = (4,1)
print(all(tuple))

True

In [ ]:
tuple = (0,5,7)
print(all(tuple))

False

In [ ]:
tuple = ("Apple","byte","computer")
n=2
for i in range(n):
    print(tuple[i])
    break

Apple

In [ ]:
tuple = ("Apple","byte","computer")
print(list(tuple))

['Apple', 'byte', 'computer']

In [ ]:
tuple = (3,7,'p','y','t','h','o','n')
print(tuple.count('y'))
print(tuple.count('o'))
print(tuple.count('h'))

1
1
1

In [ ]:
value_tuple = (26,45,'hello')
value_tuple = (7,4.5,'python')
value_3=value_tuple+value_tuple
print(value_3)

(7, 4.5, 'python', 7, 4.5, 'python')

In [ ]:
value=()
n=int(input())
list_1=[]
for i in range(n):
    a=int(input())
    list_1.append(int(input()))
value=print(list_1)

1
2
3
[3]

In [ ]:
number=("One","Two","Three","Four")
i=0
while i<len(number):
  print(number[i])
  i+=1

One
Two
Three
Four

In [ ]:
number=("One","Two","Three","Four")
for i in number:
    print(i)

One
Two
Three
Four

In [ ]:
value_set={2,'PYTHON','a',5,9.4}
value_set.remove('PYTHON')
print(value_set)

{2, 'a', 5, 9.4}

In [ ]:
value_set={2,'PYTHON','a',5,9.4}
value_set.discard('PYTHON')
print(value_set)

{2, 'a', 5, 9.4}