In [ ]:
num=[1,2,3,4]
print(num)

[1, 2, 3, 4]

In [ ]:
num=[1.1,2.0,3.9,4.5]
print(num)

[1.1, 2.0, 3.9, 4.5]

In [ ]:
mix=[1,12.3,'a' "python"]
print(mix)

[1, 12.3, 'apython']

In [ ]:
# prompt: list within list -2 list

num = [1, 2, 3, 4]
print(num)
num = [1.1, 2.0, 3.9, 4.5]
print(num)
mix = [1, 12.3, 'a', "python"]
print(mix)
nested_list = [[1, 2, 3], [4, 5, 6]]
print(nested_list)

[1, 2, 3, 4]
[1.1, 2.0, 3.9, 4.5]
[1, 12.3, 'a', 'python']
[[1, 2, 3], [4, 5, 6]]